/* ~body for all pages~ */
body{
    min-height: 100vh;
    background-color:rgb(220, 246, 255);
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/* ~~~~~~~~~~~~~~~~~~~~ */

/* ~header for all pages~ */
header{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    border: 1px solid black;
    background-color:lightskyblue;
    padding: 10px;
    margin: 10px;
}
header h1{
    text-transform: uppercase;
    font-size: 3em;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#power_search{
    position: absolute;
    height: 70px;
    top: 6.5%;
    right: 7%;
}
/* menu bar for all pages */
menu{
    display: flex;
    justify-content: center;
}
/* flex style for menu bar for all pages */
menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
menu ul > li{
    flex: 0 1 auto;
    width: 150px;
    height: 23px;
    text-align: center;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(77, 211, 255);
    border-style: solid;
    border-color: black;
    list-style: none;
    padding: 0%;
}
menu ul > li a{
    color:black;
    font-size: 100%;
    text-decoration: none;
    margin: 0px; 
    display: block; 
    width: 100%; 
    height: 100%;
}
.current{
    font-weight: bolder;
    background-color: aliceblue;
}
.current li{
    text-decoration: none;
    color:black;
    font-size: 100%;
}
.current li:hover{
    text-decoration: none;
}
.current li:visited{
    color: black;
}
/* style changed on menu selections when hover for all pages */
menu ul > li:hover{
    background-color: aliceblue;
}
menu ul > li a:hover{
    text-decoration: underline;
    font-weight: bold;
}
menu ul > li a:visited{
    color:black;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~sidebar for all pages~ */
aside{
    grid-column: 1;
    grid-row: 2 / 7;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color:lightskyblue;
}
aside p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sidebar_image{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* ~~~~~~~~~~~~~~~~~~~~~ */

/* ~main content for all pages~ */
main{
    grid-column: 2 / 5;
    grid-row: 2 / 7;
    /* inline grid layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    gap: 5px;
    padding: 10px;
    margin: 10px;
}
/* first box in main for all pages */
#frameOne{
    text-align: center;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;
    border-style: dashed;
    border-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}
#frameOne > p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* second box in main for all pages */
#frameTwo{
    text-align: center;
    padding: 5px;
    grid-column: 1;
    grid-row: 2 / 5;
    border-style: dashed;
    border-color: grey;
}
#frameTwo p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* result display style for both people and vehicle search only */
#frameTwo{
    background-color: lightskyblue;
    /* change to aliceblue after search successful */
}
#frameTwo #result_frame{
    padding-left: 5px;
    padding-right: 5px;
}
#frameTwo #result_frame #result_heading{
    display: none;
    /* change to block after search successful */
}
#result_frame #results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}
#results .result{
    border-style: double;
    border-color:darkslateblue;
    border-width: 1px;
    background-color:white;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
/* main content for add a vehicle page only */
#mainContent_AddingVehicle{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#vehicles_info{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: dashed;
    border-color: grey;
    background-color: aliceblue;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#details{
    text-align: left;
}
#owners_info{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-style: dashed;
    border-color: grey;
    background-color: whitesmoke;
}
#last_add{
    display: block;
    padding: 10px;
    margin: 10px;
    border-style: double;
    border-color: grey;
    background-color: white;
}
#added_info{
    display: grid;
    text-align: left;
    font-weight: bold;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    gap: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~footer for all pages~ */
footer{
    grid-column: 1 / 5;
    grid-row: 7;
    text-align: center;
    font-size: small;
    border: 1px solid black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background-color:lightskyblue;
    padding: 10px;
    margin: 10px;
}
/* social media icons in footer for all pages */
footer div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    padding-left: 2.5%;
    margin-left: auto;
    margin-right: auto;
}
footer div div{
    flex: auto;
    text-decoration: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* media query with different css if page width < 500px */
@media(max-width: 500px){
    /* ~body for all pages~ */
    body{
        min-height: 100vh;
        background-color:rgb(220, 246, 255);
    }
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    /* ~~~~~~~~~~~~~~~~~~~~ */

    /* ~header of all pages~ */
    header{
        grid-column: 1 / 5;
        grid-row: 1;
        text-align: center;
        border: 1px solid black;
        background-color:lightskyblue;
        padding: 10px;
        margin: 10px;
    }
    header h1{
        text-transform: uppercase;
        font-size: 2em;
        font-style: italic;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #power_search{
        position: absolute;
        height: 60px;
        top: 5%;
        right: 5%;
    }
    /* menu bar*/ 
    menu{
        display: block;
        padding-left: 0%;
        padding-right: 10%;
    }
    menu ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: auto;
        width: 100%;
    }
    /* style for menu in header */
    menu ul > li{
        flex: 0 1 auto;
        width: 85%;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(77, 211, 255);
        border-style: solid;
        border-color: black;
        list-style: none;
        padding: 0%;
    }
    menu ul > li a{
        color:black;
        font-size: 100%;
        text-decoration: none;
        margin: 0px; 
        display: block; 
        width: 100%; 
        height: 100%;
    }
    .current{
        font-weight: bolder;
        background-color: aliceblue;
    }
    .current li{
        text-decoration: none;
        color:black;
        font-size: 100%;
    }
    .current li:hover{
        text-decoration: none;
    }
    .current li:visited{
        color: black;
    }
    /* style changed on menu selections when hover for all pages */
    menu ul > li:hover{
        background-color: aliceblue;
    }
    menu ul > li a:hover{
        text-decoration: underline;
        font-weight: bold;
    }
    menu ul > li a:visited{
        color:black;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    
    /* ~sidebar for all pages~ */
    aside{
        grid-column: 1;
        grid-row: 8;
        border: 1px solid black;
        background-color:lightskyblue;
        padding: 10px;
        margin: 10px;
    }
    aside p{
        display: none;
    }
    #sidebar_image{
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~main content for all pages~*/
    main{
        grid-column: 1 / 5;
        grid-row: 2 / 8;
        /* inline grid layout */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        gap: 5px;
    }
    /* first box in main for all pages */
    #frameOne{
        text-align: center;
        padding: 10px;
        grid-column: 1;
        grid-row: 1;
        border-style: dashed;
        border-color: grey;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: aliceblue;
    }
    #frameOne p{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* second box in main for all pages */
    #frameTwo{
        text-align: center;
        padding: 7px;
        grid-column: 1;
        grid-row: 2 / 5;
        border-style: dashed;
        border-color: grey;
    }
    #frameTwo p{
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* result display style for both people and vehicle search only */
    #frameTwo{
        background-color: lightskyblue;
        /* change to aliceblue after search successful */
    }
    #frameTwo #result_frame{
        padding-left: 5px;
        padding-right: 5px;
    }
    #frameTwo #result_frame #result_heading{
        display: none;
        /* change to block after search successful */
    }
    #result_frame #results{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
    #results .result{
        border-style: double;
        border-color:darkslateblue;
        border-width: 1px;
        background-color:white;
        text-align: left;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
    }
    /* main content for add a vehicle page only */
    #mainContent_AddingVehicle{
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    #vehicles_info{
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border-style: dashed;
        border-color: grey;
        background-color: aliceblue;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #details{
        text-align: left;
    }
    #owners_info{
        display: inline-block;
        padding: 10px;
        margin: 10px;
        border-style: dashed;
        border-color: grey;
        background-color: whitesmoke;
    }
    #last_add{
        display: block;
        padding: 10px;
        margin: 10px;
        border-style: double;
        border-color: grey;
        background-color: white;
    }
    #added_info{
        display: grid;
        text-align: left;
        font-weight: bold;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        margin: 10px;
        gap: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    /* ~footer for all pages ~ */
    footer{
        grid-column: 2 / 5;
        grid-row: 8;
        text-align: left;
        font-size: small;
        border: 1px solid black;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        background-color:lightskyblue;
        padding: 10px;
        margin: 10px;
    }
    /* social media icons in footer for all pages */
    footer div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
    footer div div{
        flex: auto;
        text-decoration: none;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
}
